/* Стили камеры */
.camera-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* height: 80vh; */
    height: 100px;
    /* background: #bbb; */
}

.camera-container h2{
    font-size: 60px;
    font-weight: bold;
}