/* Стили контейнера кнопок */
.buttons-container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 15%;
    padding: 20px 0px;
    background: #fff;
    z-index: 2;
}
.buttons-container video{
    z-index: 1;
}

.buttons-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 60px;
    border-radius: 10px;
    z-index: 2;
    transition: 1s all;
}

.buttons-container a:hover {
    background: #bbb;
    color: #fff;
}

.buttons-container a:active {
    transform: scale(1.2);
}

.buttons-container img {
    width: auto;
    height: 100%;
    padding: 5px;
    z-index: 2;
    border-radius: 10px;
}

.button-disable {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;
}