/* Стили контейнера кнопок */
.buttons-container {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background: #fff;
    z-index: 2;
}

.buttons-container video {
    z-index: 1;
}

.buttons-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-radius: 10px;
    transition: 1s all;
}

/* .buttons-container a:hover {
    cursor: pointer;
    background: #bbb;
    color: #fff;
} */

/* .buttons-container a:active {
    transform: scale(1.2);
} */


.buttons-container img {
    width: auto;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}

.button-disable {
    cursor: pointer;
    background: #bbb;
    color: #fff;
}