/* Стили камеры */
.camera-container{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 70vh;
    overflow-y: scroll;
}
.html5-qrcode-element{
    font-size: 18px;
    border-radius: 10px;
    margin: 10px;
    padding: 3px;
}
.camera-container h2{
    font-size: 60px;
    font-weight: bold;
}

/*Стили сканера*/
.scaner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }  
  
  #qrCodeContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50vh;
    border-radius: 7px;
    overflow: hidden;
  }

  video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto !important;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }
  
  .scaner input{
    width: 50%;
    margin: 20px 0px;
  }
  