/* Навигационная панель */
#root {
  margin-bottom:100px;
}

/* .navbar { */
/* position: fixed; Установите навигационную панель в фиксированное положение */
/* height: 10%; */
/* bottom: 0; Расположите навигационную панель в нижней части страницы */
/* width: 100%; Полная ширина */
/* background-color: white; */
/* } */

/* Основное содержание */
.main {
  width: 100%;
  /* Полная ширина */
  margin: 0px 0px 100px;
  margin-bottom: 0px;
  /* Добавить в нижнее поле, чтобы избежать наложения */
}

.checkbox-item {
  visibility: "false";
  background-color: rgb(167, 0, 0);
}

/* html,
body{
  height: 100%;
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -180px;
  background-color: aquamarine;
}

.push {
  height: 180px;
}

.footer {
  height: 180px;
  background-color:blueviolet;
} */
/*THATS ALL*/















/*JUST USABILITY STYLES*/
/* body {
  color: #FFF;
  font-size: 30px;
  text-transform: uppercase;
  font-family: Tahoma;
  text-align: center;
  background: #212121;
  text-shadow: 1px 1px 1px #000;
}

.content{
  z-index: 2;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  position: relative;
  line-height: 160px;
}

.content:before{
  z-index: -1;
  content: "";
  position: absolute;
  width:400px;
  height:100px;
  left:0px;
  top:0px;
  background: #E97000;
 
}

.content:after{
  content: "";
  position: absolute;
  width:0;
  height:0;
  left:-100px;
  top:100px;
  border-top:100px solid #E97000;
  border-left:300px solid rgba(0,0,0,0); 
  border-right:300px solid rgba(0,0,0,0);
}

.footer {
  background: #181818;
  line-height: 180px;
  color: #818181;
}

@media all and (max-height: 380px){
  .footer{
    background: #FFA300;
    color: #FFF;
  }
} */