/* Стили контейнера кнопок */
.buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.buttons-container a {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    height: 60px;
    border-radius: 10px;
    border: 1.5px solid black;
    transition: 1s all;
}

.buttons-container a:hover {
    background: #bbb;
    color: #fff;
}

.buttons-container a:active {
    transform: scale(1.2);
}

.buttons-container img {
    width: auto;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
}

.button-disable {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.7;
}